@font-face {
    font-family: Digital-Dismay;
    src: url('/fonts/Digital-Dismay.otf');
}

$color-primary: #edab77;
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
} 
body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #333333;
    background: #000000;
}
a {
    text-decoration: none;
}
button {
    border: none;
    background-color: white;
    outline: none;
    cursor: pointer;
}
.canvas-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(#242428, #242428);
    canvas {
        display: block;
    }
}
.loading {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 100px;
    font-weight: bold;
    background-image: radial-gradient(circle, #2d3340, #26272d);
    img {
        width: 100px;
        border: 2px solid #ffffff;
        border-radius: 50%;
    }
    .value {
        margin: 10px 0 50px;
        font-size: 50px;
        color: #ffffff;
        .unit {
            margin-left: -8px;
            font-size: 50px;
        }
    }
}
.nav {
    position: fixed;
    top: -90px;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    img.logo {
        margin: 0 20px;
        width: 70px;
        height: 70px;
        border: 2px solid #728e90;
        border-radius: 50%;
        background-color: #000000;
        box-shadow: 0 0 10px #00000040;
    }
    .item {
        width: 100px;
        text-align: center;
        color: #ffffff90;
        cursor: pointer;
        text-shadow: 0 0 10px #00000090;
        &.active {
            font-weight: bold;
            color: #ffffff;
        }
    }
}
.about {
    position: fixed;
    top: 60px;
    left: 50%;
    z-index: 998;
    display: none;
    padding: 20px;
    width: 360px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    color: #333333;
    background-color: #ffffff;
    opacity: 0;
    box-shadow: 0 0 20px #000000;
    transform: translateX(-50%);
    .base {
        display: flex;
        .item {
            width: 33.3333%;
            .label {
                margin-bottom: 5px;
                font-size: 12px;
                font-weight: bold;
            }
        }
    }
    .skills {
        font-size: 14px;
        .item {
            display: flex;
            align-items: center;
            height: 20px;
            .label {
                width: 100px;
            }
            .content {
                overflow: hidden;
                width: 100%;
                height: 6px;
                border-radius: 3px;
                background-color: #777777;
                .value {
                    width: 50%;
                    height: 100%;
                    border-radius: 3px;
                    background-color: #000000;
                }
            }
        }
    }
    .contacts {
        display: flex;
        a {
            display: inline-block;
            margin-right: 5px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #ffffff;
            &.email {
                display: flex;
                align-items: center;
                font-size: 14px;
                background-color: #dddddd;
                img {
                    margin-right: 5px;
                }
            }
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .about-close {
        position: absolute;
        bottom: -50px;
        left: 50%;
        z-index: 999;
        margin-left: -20px;
        padding: 5px;
        width: 40px;
        height: 40px;
        border: 1px solid #ffffff;
        border-radius: 50%;
        background-color: #2b303b;
        cursor: pointer;
        img {
            width: 100%;
            height: 100%;
        }
    }
    
}
.title {
    margin: 15px 0 10px;
    font-size: 16px;
    font-weight: bold;
}

// works
.works {
    position: fixed;
    z-index: 998;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    opacity: 0;
    .slide {
        position: absolute;
        left: 100%;
        display: flex;
        height: 340px;
        .item {
            overflow: hidden;
            margin: 10px;
            padding: 10px;
            width: 360px;
            border-radius: 8px;
            background-color: #ffffff;
            box-shadow: 0 0 20px #000000;
            .cover {
                overflow: hidden;
                width: 100%;
                height: 200px;
                border: 1px solid #dddddd;
                border-radius: 8px;
                background-color: #eeeeee;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .info {
                .desc {
                    height: 35px;
                    font-size: 12px;
                    color: #777777;
                }
                .actions {
                    &>a {
                        display: inline-block;
                        padding: 2px 5px;
                        font-size: 12px;
                        font-weight: bold;
                        border-radius: 4px;
                        color: #ffffff;
                        background-color: #e69046;
                        cursor: pointer;
                    }
                    &> .code {
                        margin-right: 5px;
                        background-color: #2b303b;
                    }
                }
            }
        }

    }
    &>.works-actions {
        display: none;
        margin-top: 500px;
        opacity: 0;
        .act {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            width: 48px;
            height: 48px;
            border: 2px solid #ffffff90;
            border-radius: 50%;
            background-color: #e69046;
            box-shadow: 0 0 10px #00000080;
            cursor: pointer;
            &.pre {
                transform: rotate(180deg);
            }
            &.close {
                margin: 0 20px;
                background-color: #2b303b;
            }
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
.icp {
    position: fixed;
    bottom: 10px;
    z-index: 9999;
    width: 100vw;
    text-align: center;
    a {
        color: #ffffff30;
    }
}